/*  your css code here. If applicable */
.navbar {
    background-color: #e3f4ff;
    border-top: 4px solid #222;
}

.navbar-brand img {
    object-fit: contain;
}

.navbar-nav .nav-link {
    color: #555 !important;
    font-size: 16px;
}

.dropdown-menu {
    border-radius: 0;
}

form .form-control {
    width: 180px;
}